table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
