body {
    margin: 0;
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

table {
    border-collapse: collapse;
}

td {
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

/* Nur innere Linien */

td {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

/* rechte Außenlinie entfernen */

td:nth-child(3) {
    border-right: none;
}

/* untere Außenlinie entfernen */

tr:nth-child(3) td {
    border-bottom: none;
}
